<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thymereact</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex justify-center">
        <div class="text-blue-500 text-2xl p-5">Thymereact Products</div>
    </div>
    <div class="flex justify-center">
        <div>An example for integrating React with Thymeleaf views</div>
    </div>
    <div class="flex justify-center">
        <a href="/products" class="p-2 bg-blue-500 rounded-lg my-2 text-white">View Products</a>
    </div>
</body>
</html>